article p {
    font-size: 1.2em;
    padding: 1em;
}

article {
    font-size: 20px;
}

button {
    font-size: 1em;
    padding: 0, 1em;
    border-radius: .5em;
    background-color: darkseagreen;
}

ul {
    font-size: 1.5em;
}

.rems article {
    font-size: 2rem;
}

.rems {
    font-size: 1rem;
}

.rems ul {
    font-size: 1rem;
}