nav {
    font-family: 'Fraunces';
    font-size: 1.5em;
    text-transform: uppercase;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    padding: 20px 5px;
    border-bottom: lightgray 1px solid;
}


img {
    width: 30%;
    margin: calc(10%/6);
    transition: .2s;
}

img:hover {
    transform: translateY(-10px);
    transition: .7s;
}

