body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#descript {
    display: block;
    color: white;
    font-style: italic;
}

.header {
    background-color: rgb(106, 182, 106);
    position: relative;
    top: 0;
    width: 100%;
    padding: 6px;
    margin: 2px;
}

h1 {
    font-family: 'Roboto';
    padding-left: 5%;
    color: rgb(236, 234, 225);
}

h2 {
    font-family: 'Open Sans';
    padding-left: 6%;
}

p {
    font-family: 'Noto Sans JP';
    padding-left: 4px;
}

.photo-link {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: 530px;
    margin: 1.45%;
    transition: .7s;
}

img {
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
}

