
.container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 90%;
    margin: auto;
    min-width: 500px;
    max-height: 400px;
}

.sidenav {
    background-color: rebeccapurple;
    flex-basis: 200px;
}

.main {
    background-color: salmon;
    flex-basis: 600px;
}