* {
    padding: 0px;
    margin: 0px;
}

.header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    padding-left: 10%;
    background-color: burlywood;
    margin-bottom: 20px;
}

.inner-content {
    width: 96%;
    margin: auto;
}

.box {
    display: inline-block;
    margin: 20px;
    width: 43%;
    height: 300px;
    border: solid 2px black;
}

.box h2 {
    text-align: center;
    padding: 2px;
    margin: 0px;
    background-color: lightblue;
}

.box table, th, td {
   border: 1px solid black;
   width: 100%;
}

.box td, th {
    padding: 10px;
}

.box th {
    height: 20px;
    font-weight: 700;

}

.box td {
    text-align: center;
}

.box tr:hover {
    background-color: #f5f5f5;
}



@media only screen and (max-width: 600px) {
    .box {
        margin: 10px;
        width: 95%;
    }
  }