* {
    padding: 0px;
    margin: 0px;
}

.header h1 {
    padding-left: 10%;
    background-color: burlywood;
}

.box {
    display: inline-block;
    margin: 20px;
    width: 40%;
    height: 300px;
    border: solid 2px black;
}

.box h2 {
    text-align: center;
    padding: 2px;
    margin: 0px;
    background-color: lightblue;
}

@media only screen and (max-width: 600px) {
    .box {
        margin: 10px;
        width: 95%;
    }
  }