div {
    width: 100px;
    height: 100px;
    background-color: #3d405b;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}

#middle {
    background-color: yellowgreen;
}

#static #middle {

    position: static;
    top: 20px;
}

#relative #middle {
    position: relative;
    top: 2rem;
    right: 5%;
}

#absolute #middle {
    position: absolute;
    top: 65%;
    left: 30%;
}