.title {
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    transition: .5s;
    justify-self: center
}



.title:hover {
    transform: translateY(-5px);
    transition: .5s;
}

.container {
    display: flex;
    width: 90%;
    margin-top: 3rem;
    justify-content: space-evenly;
}

.btn-holder button {
    padding: 10px 15px 10px 15px;
    margin: 20px;
    margin-top: 3rem
}

#story {
    text-align: center;
    margin-top: 3rem;
}

.story-img {
    width: 80%;
    margin: auto;
    
}