* {
    background-color: lightgoldenrodyellow;
}

h1, h2 {
    font-size: 20px;
}

section {
    padding: 25px;
    outline: solid blue;
}

section p {
    color: red;
}

button + p {
    background-color: lightgreen;
}
