* {
    background-color: lightgoldenrodyellow;
}

h1, h2 {
    font-size: 20px;
}

section {
    padding: 25px;
    outline: solid blue;
}



button + p {
    background-color: lightgreen;
}

section > h2 {
    color: green;
}

input[type='text'] {
    background-color: red;
}

button:active {
    background-color: #02c39a;
}

p:nth-of-type(2n) {
    color: hotpink;
}

p::first-letter {
    font-size: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

*::selection {
    background-color: yellow;
}