body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 0px;
    padding: 0px;
}


h2 {
    font: helvetica;
    color: rgb(10, 131, 10);
    font-size: 36px;
}

.banner {
    background-color: #41B3A3;
    padding: 2rem 0rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .5em;
}


.inner-strip {
    background-color: #E8A87C;
    text-align: center;
    /* border-radius: 1em; */
}

.inner-strip p, h1{
    display: block;
    width: 75%;
    margin: auto;
}

