h1 {
    text-align: center;
    color: #444444;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px black;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.item {
    width: 33%;
}

