.blog-post {
    width: 90%;
    background-color: cadetblue;
    opacity: .5;
    padding: 50px;
}

textarea {
    display: block;
    margin: auto;
}

.blog-post button {
    float: right;
    width: 70px;
    padding: 10px;
    margin-top: .4rem;
    margin-right: 13%;
}