body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(247, 246, 241);
}

p {
    font-size: 1rem;
}

h1 {
    margin: 0px;
    padding: 10px;
    background-color: darkgrey;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: 10;
}


h2 {
    font: helvetica;
    color: rgb(106, 146, 106);
    font-size: 36px;
}

.banner {
    background-color: #41B3A3;
    padding: 2rem 0rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .5em;
}


.inner-strip {
    background-color: #E8A87C;
    text-align: center;
    border: 1px solid rgb(51, 51, 156);
}

.left-space {
    width: 20%;
    display: inline-block;
    padding-top: 2.6rem;
    padding-left: 1rem;
}

.right-space {
    width: 20%;
    float: right;
    padding-top: 2.6rem;
    padding-right: 20px;
    position: sticky;
    top: 0;
}

.right-space ul {
    list-style-type: none;

}

.right-space:hover {
    background-color: rgb(216, 84, 84);
    transition: 1.5s;
}