
.container {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 90%;
    margin: auto;
    min-width: 500px;
    max-height: 400px;
    text-align: center;
    align-items: center;
}

.sidenav {
    flex-basis: 200px;
    background-color: pink;


}

.main {
    flex: 2 1 400px;
    background-color: green;

}