body, html, ul {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url('../img/forest.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header {
    font-size: larger;
    font-family: cursive;
    opacity: .9;
    margin-right: 10%;
}

.top-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(241, 236, 228);
}

.nav-list {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
    font-size: x-large;
    font-family: sans-serif;
}

.nav-list-item {
    padding: 10px;
    flex-shrink: 3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-list-item:hover {
    background-color: rgb(219, 193, 150);
}

.container {
    width: 90%;
    margin: auto;
}

.header {
    text-align: center;
}

.container {
    width: 90%;
    margin: auto;
    text-align: center;
}

.carousel {
    width: 90%;
    margin: auto;
    display: flex;
    height: 340px;
    overflow-x: auto;
}

.photo {
    margin: 10px;
        transition: transform .8s;
}

.photo:hover {
    transform: translateY(-10px);
    transition: transform .8s;
}

img {
    display: block;
    height: 310px;
    margin: auto;
}

.photo-title, h1 {
    color: rgb(236, 231, 231);
}

.art-descript {
    color: white;
}