.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    height: 800px;
    background-color: green;
}

.title {
    background-color: rgb(195, 207, 176);
    align-self: center;
    border-radius: 5px;
    width: 90%;
    text-align: center;
}

.btns {
    background-color: grey;
    align-self: center;
    margin-top: 2rem;

}

.btns button {
    padding: 15px;
}

.make-happen {
    margin-top: 350px;
    background-color: khaki;
    height: 200px;
}